*{
	font-family:Comic Sans MS;
	color:#FFF;
	box-sizing:border-box;
}
li {
	background-color:#000;
	color:#fff;
	text-decoration:none;
	padding: 10px 15px;
	display:block;/*para que quede en bloques y no uno encima del otro*/
	opacity:0.85;

}
li{
	width:333.3333px;
}

 nav  ul li a{
	display:none;
	position:absolute;
	min-width:140px;
	text-align:center;
 }

.nav {
 	background-color: red;
 	margin:auto;
	width:1000px;
	padding-bottom:100;
 }

a{
     text-decoration: none;
}
h1,footer{
	text-align:center;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
h3,h2{
	text-align:center;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
audio{
	margin: 0 auto;	
	width: 1000px;
}
#perfil,  header img {
	border-radius:50%;
	width:10%;
}

#perfil:hover{
	transition:2s;
	transform:rotate(360deg);	
}

#logo img{
	float:left;
}

#logo,ul{
	/*width:50%;*/
	margin:auto;
}
.nav{
	clear: both;
}
body{
 	background:url(../../imagenes/fondo.jpg);	
 	background-size: cover;
	background-repeat:no-repeat;
	background-position: center;
	margin:0;
	padding:0;
	min-height:100vh; 
	flex-wrap:wrap;
}	


.contenedor{
	width: 1000px;
	clear:both;
	margin:auto;
	min-width:300px;
	background:url(fondo.jpg);	
	background:rgb(0,0,0,0.5);	
}
.nav li{
	display:inline-block;
	padding:20px;/*relleno*/
	cursor:pointer;/*para que tenga una manito*/
	transition: all 400ms ease;/*efectua suave*/
	float:left;/*para que quede cada casilla con su columna correspondiente*/
	width:310.333px;
	margin: 10px auto;	
	text-align:center;
}
li:hover{
	background-color:#434343;
	opacity:0.85;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
footer{
	margin-top:5px;/*propiedad para que se vaya a la parte de abajo*/
	font-size:12px;	
	padding-top:10px;
	padding-bottom:3px;
	width:1000px;
	max-width:1900px;
	margin: 10px auto;
	clear: both;/*para que  este solo en esa posicion sin nada a los lados*/
	text-align:center;
	font-size:15px;		
	color:#FFF;
}